<h1>roar-rails-example</h1>

<% if ActiveRecord::Base.connection.tables.include?('companies') %>
<p>
This only tests the JSON GET methods currently. Feel free to fork and add more behavior.
</p>
<p>
Note: Due to the simple nature of this test application, please reload the page to get new sample ids before performing each action. Also, delete does not use roar-rails, since delete does not require or emit JSON.
<p>
<h2>Test JSON services</h2>
<h3>Companies</h3>
<ul>
<li><a href="/companies.json">GET /companies.json</a><br/>
<li><a href="javascript:post('POST','/companies.json','<%= @company_post_existing_json %>')">POST to /companies.json</a>
<li><a href="javascript:post('PUT','/companies.json','<%= @company_post_existing_json %>')">PUT new (no id) to /companies.json</a>
  <% if @company_id %>
<li><a href="/companies/<%= @company_id %>">GET /companies/<%= @company_id %></a><br/>
<li><a href="javascript:post('PUT','/companies/<%= @company_id %>.json','<%= @company_post_existing_json %>')">PUT existing to /companies/<%= @company_id %>.json</a>
<li><a href="javascript:post('PUT','/companies/<%= @company_id %>.json','<%= @company_post_existing_json %>')">PUT existing to /companies/<%= @company_id %>.json</a>
<li><a href="javascript:delete('DELETE','/companies/<%= @company_id %>.json','<%= @company_post_existing_json %>')">DELETE to /companies/<%= @company_id %>.json</a>
  <% end %>
</ul>
<h3>Employees</h3>
<ul>
<li><a href="/employees.json">GET /employees.json</a><br/>
  <% if @company_id %>
<li><a href="javascript:post('POST','/employees.json','<%= @employee_post_existing_json %>')">POST to /employees.json</a>
<li><a href="javascript:post('PUT','/employees.json','<%= @employee_post_existing_json %>')">PUT new (no id) to /employees.json</a>
    <% if @employee_id %>
<li><a href="/employees/<%= @employee_id %>">GET /employees/<%= @employee_id %></a><br/>
<li><a href="javascript:post('PUT','/employees/<%= @employee_id %>.json','<%= @employee_post_existing_json %>')">PUT existing to /employees/<%= @employee_id %>.json</a>
<li><a href="javascript:post('PUT','/employees/<%= @employee_id %>.json','<%= @employee_post_existing_json %>')">PUT existing to /employees/<%= @employee_id %>.json</a>
<li><a href="javascript:delete('DELETE','/employees/<%= @employee_id %>.json','<%= @employee_post_existing_json %>')">DELETE to /employees/<%= @employee_id %>.json</a>
    <% end %>
  <% end %>
</ul>
</p>
<% else %>
The schema has not been created in the test database. Please stop the application, run rake db:migrate, and then restart. Thanks!
<% end %>
<br/>
<hr/>
<br/>
roar-rails-example &copy; 2012 Gary S. Weaver, released under the MIT license
